<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ktt3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- path to the directory containing the database, relative to the location of the .exe -->
    <add key="mdffiledir" value="..\..\..\..\data" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <ktt3.Properties.Settings>
      <setting name="WorkTimeLen" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="CountBackwards" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundNotification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowFreeTimer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConfirmDeleteProjects" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConfirmDeleteJobs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportFileName" serializeAs="String">
        <value>D:\ktt_data.txt</value>
      </setting>
      <setting name="ExportJobWorkedTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportTimeTracksTimes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportSkipEmptyJobs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportSkipNotFinishedTimeTracks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportAsHours" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportHeaders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteBeforeInport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportEstimatedTimes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsPanelOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProjectPanelOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TasksPanelOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimeTracksPanelOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProjectPanelWidth" serializeAs="String">
        <value>360</value>
      </setting>
      <setting name="TasksPanelWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="TimeTracksPanelWidth" serializeAs="String">
        <value>238</value>
      </setting>
      <setting name="LastWorkingProject" serializeAs="String">
        <value>0</value>
      </setting>
    </ktt3.Properties.Settings>
  </userSettings>
  <entityFramework>
    <contexts>
      <context type="ktt3.DataAccess.Ktt3DbContext, ktt3" disableDatabaseInitialization="false">
        <databaseInitializer type="ktt3.DataAccess.DBInitialize, ktt3" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ktt3Connection" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|kttDB.mdf;integrated security=True;multipleactiveresultsets=True;connect timeout=30;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>